[Unit]
Description=The relay in the README.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=rat
StandardOutput=append:/var/log/rat.log
ExecStart=/opt/rat/python/rat.py listen
WorkingDirectory=/opt/rat/

[Install]
WantedBy=multi-user.target
