# /etc/systemd/system/rat.service
# Make sure to have a user 'rat'
# and to install it in /opt.

[Unit]
Description=The relay in the README.
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ra
StandardOutput=append:/var/log/rat.log
ExecStart=/opt/rat/python/rat.py listen

[Install]
WantedBy=multi-user.target
